{% extends 'base.html.twig' %}

{% block title %}Edit Serie{% endblock %}

{% block body %}
    <h1>Edit Serie</h1>

    {{ include('serie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('serie_index') }}">back to list</a>

    {{ include('serie/_delete_form.html.twig') }}
{% endblock %}
